.fotorama__caption {
  display: none;
}
.fotorama--fullscreen .fotorama__caption {
  display: block;
  white-space: normal;
  overflow: visible;
}
.fotorama--fullscreen .fotorama__img {
  scale: 80% !important;
  align-self: center !important;
  top: 0px !important;
}
